/* ------------ SEARCH WIDGET ----------- */

/*** @export "widget" css */

#right {
    /* contains search widget */
    float: right;
    width: 500px;
    height: 150px;
}
#searchwidget {
    width: 415px;
    float: right;
    margin: 150px 350px;
}
#searchwidget .nav-tabs {
    text-transform: uppercase;
    border-bottom-color: white;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
#searchwidget .nav>li>a {
    padding: 5px 8px;
    color: black;
    border: 0;
    border-radius: 0;
}
#searchwidget .nav-tabs li {
    margin: 0;
    margin-top: 3px;
    border: 0;
    border-bottom-width: 0;
    margin-right: .5em;
    background-color: #cccc99;
    letter-spacing: normal;
    text-align: center;
    width: 100px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 10px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold !important;
}
#searchwidget ul li:last-child {
    margin-right: 0;
}
#searchwidget ul li.active, #searchwidget ul li.active a {
    background-color: #efefdc;
    border: 0;
}
#searchwidget ul li a:hover {
    background-color: inherit;
    border: 0;
}
#searchwidget .tab-content .tab-pane {
    padding-top: 10px;
}
#searchwidget .label select {
    width: 85px;
    color: black;
    font-size: 11px;
}
#searchwidget .searchwidget_radio {
    color: white;
    font-size: 11px;
    text-align: right;
    margin-right: -43px;
    padding-top: 6px;
}
#searchwidget .searchbox {
    width: 97.8%
}
#searchwidget #guides .searchbox,
#searchwidget #databases .searchbox {
    width: 100%;
}
#searchwidget .searchextras a {
    color: #cccc99;
    font-weight: normal;
}
#searchwidget .searchextras {
    padding-top: 5px;
}
